In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier

In [ ]:
train = pd.read_csv('https://dphi.s3.ap-south-1.amazonaws.com/dataset/train_age_dataset.csv')
test = pd.read_csv('https://dphi.s3.ap-south-1.amazonaws.com/dataset/test_age_dataset.csv')
train.head()

   Unnamed: 0    userId  tier  ...  slot4_trails_watched_per_day  avgt2  age_group
0      265153  48958844     2  ...                      0.033333    0.0          1
1      405231  51100441     2  ...                      0.033898   82.5          2
2       57867   6887426     2  ...                      0.000000    0.0          1
3      272618  50742404     2  ...                      0.008403    0.0          1
4      251123  45589200     2  ...                      0.180328    0.0          1

[5 rows x 27 columns]

In [ ]:
train.shape

(488877, 27)

In [ ]:
num_cols = [col for col in X.columns if X[col].nunique()>5]

In [ ]:
# using boxplot to check for outliers and skewedness
plt.figure(figsize=(15,20))
ax = sns.boxplot(data=X[num_cols])
plt.xticks(rotation=90)
plt.show()

In [ ]:
X[num_cols].hist(figsize=(14,10),xlabelsize=8, ylabelsize=8,bins=170)

In [ ]:
for col in num_cols:
    fig,ax = plt.subplots(1,3)
    sns.distplot(X[col],ax=ax[0])
    sns.distplot(np.sqrt(X[col]-X[col].min()+1),ax=ax[1])
    sns.distplot((X[col]-X[col].min()+1).transform(np.log),ax=ax[2])

In [ ]:
train.drop(['Unnamed: 0','userId'],axis=1).describe()

                tier         gender  ...          avgt2      age_group
count  488877.000000  488877.000000  ...  488877.000000  488877.000000
mean        1.975382       1.213037  ...     164.765782       1.741643
std         0.430707       0.409454  ...     981.988886       1.088559
min         1.000000       1.000000  ...       0.000000       1.000000
25%         2.000000       1.000000  ...       0.000000       1.000000
50%         2.000000       1.000000  ...       0.000000       1.000000
75%         2.000000       1.000000  ...     178.666667       2.000000
max         3.000000       2.000000  ...   39304.000000       4.000000

[8 rows x 25 columns]

In [ ]:
max_threshold=train.avgTimeSpent.quantile(0.999)
min_threshold=train.avgTimeSpent.quantile(0.001)
print(min_threshold,max_threshold)

1.0 1127.7528305402795

In [ ]:
train[train.avgTimeSpent>max_threshold]

        Unnamed: 0    userId  ...       avgt2  age_group
3430        360998  70780891  ...    0.000000          1
6567        237098  42302751  ...    0.000000          1
7632         90655   2411472  ...  191.071429          1
8072        126380  37543286  ...  170.000000          4
9993        352172  68511479  ...    0.000000          1
...            ...       ...  ...         ...        ...
482259       31866  45887836  ...  169.666667          3
482313      428223  71931471  ...  154.000000          4
483436      296361  55570615  ...    0.000000          1
485760      239576  42852502  ...    0.000000          1
487082      525696  58583104  ...  183.933333          2

[489 rows x 27 columns]

In [ ]:
train[train.avgTimeSpent<min_threshold]

Empty DataFrame
Columns: [Unnamed: 0, userId, tier, gender, following_rate, followers_avg_age, following_avg_age, max_repetitive_punc, num_of_hashtags_per_action, emoji_count_per_action, punctuations_per_action, number_of_words_per_action, avgCompletion, avgTimeSpent, avgDuration, avgComments, creations, content_views, num_of_comments, weekends_trails_watched_per_day, weekdays_trails_watched_per_day, slot1_trails_watched_per_day, slot2_trails_watched_per_day, slot3_trails_watched_per_day, slot4_trails_watched_per_day, avgt2, age_group]
Index: []

In [ ]:
train1=train[(train.avgTimeSpent<max_threshold)]
train1.shape

(488388, 27)

In [ ]:
min_threshold2,max_threshold2=train.avgt2.quantile([0.001,0.999])
min_threshold2,max_threshold2

(0.0, 17306.76794472008)

In [ ]:
train[train.avgt2>max_threshold2]

        Unnamed: 0   userId  ...        avgt2  age_group
3912        162104   568675  ...  20476.44444          4
5673        166895   434059  ...  23947.75000          4
5700         30356   248129  ...  28478.66667          4
5850        432020   444656  ...  19914.80000          2
6378        490666   677409  ...  18642.66667          3
...            ...      ...  ...          ...        ...
481599      164034  1627169  ...  36433.00000          1
485292      465823   667911  ...  20069.71429          4
487128      465821   666004  ...  21167.28571          4
487605      454572   304110  ...  21979.75000          2
488317      102340   513305  ...  23614.36364          4

[489 rows x 27 columns]

In [ ]:
train[train.avgt2<min_threshold2]

Empty DataFrame
Columns: [Unnamed: 0, userId, tier, gender, following_rate, followers_avg_age, following_avg_age, max_repetitive_punc, num_of_hashtags_per_action, emoji_count_per_action, punctuations_per_action, number_of_words_per_action, avgCompletion, avgTimeSpent, avgDuration, avgComments, creations, content_views, num_of_comments, weekends_trails_watched_per_day, weekdays_trails_watched_per_day, slot1_trails_watched_per_day, slot2_trails_watched_per_day, slot3_trails_watched_per_day, slot4_trails_watched_per_day, avgt2, age_group]
Index: []

In [ ]:
train2=train1[(train1.avgt2<max_threshold2)]
train2.shape

(487904, 27)

In [ ]:
min_threshold3,max_threshold3=train.following_rate.quantile([0.001,0.999])
min_threshold3,max_threshold3

(0.0, 9.185326629360251)

In [ ]:
train[train.following_rate>max_threshold3]

        Unnamed: 0    userId  ...       avgt2  age_group
16           16863  32554791  ...  119.328358          3
576          35463  49483564  ...   75.824464          4
1419        508102  39810026  ...  151.163009          2
2089        105452  38187200  ...  133.204852          2
2185         45280  33701418  ...  138.453280          4
...            ...       ...  ...         ...        ...
486601      508005  34467156  ...  124.526551          3
486953       51807  12630810  ...  175.137572          4
487228      121862  51562639  ...  170.155521          2
487333       38817  36917065  ...  170.067847          3
488647       53727  38417424  ...  123.385045          3

[489 rows x 27 columns]

In [ ]:
train3=train2[(train2.following_rate<max_threshold3)]
train3.shape

(487415, 27)

In [ ]:
min_threshold4,max_threshold4=train.max_repetitive_punc.quantile([0.001,0.999])
min_threshold4,max_threshold4

(0.0, 36.0)

In [ ]:
train[train.max_repetitive_punc>max_threshold4]

        Unnamed: 0    userId  ...       avgt2  age_group
586         400987  32866348  ...  138.000000          3
800         537924  37286724  ...  137.800000          1
930         445132  44949026  ...  154.600000          4
6098        415042   1308784  ...  226.400000          4
6797        464990  54213285  ...  175.000000          1
...            ...       ...  ...         ...        ...
482286      153464   2353713  ...  188.266667          1
483600       43160  33653713  ...  136.010811          4
485318      114794  42599444  ...  140.400000          1
485331      119936  39552379  ...  220.414729          2
487611      520786   2508768  ...  228.000000          4

[466 rows x 27 columns]

In [ ]:
train4=train3[(train3.max_repetitive_punc<max_threshold4)]
train4.shape

(486927, 27)

In [ ]:
min_threshold5,max_threshold5=train.userId.quantile([0.001,0.999])
print(min_threshold5,max_threshold5)

91481.05600000001 78884224.1400001

In [ ]:
train[train.userId>max_threshold5]

        Unnamed: 0    userId  ...  avgt2  age_group
644         387752  78925018  ...    0.0          1
2842        387887  78953699  ...    0.0          1
3478        387717  78904348  ...    0.0          1
7399        388104  78997611  ...    0.0          1
8292        388125  79003481  ...    0.0          1
...            ...       ...  ...    ...        ...
483950      388078  78991224  ...    0.0          1
486375      388166  79016279  ...    0.0          1
487429      388201  79028827  ...    0.0          1
488237      387741  78919138  ...    0.0          1
488574      387790  78940351  ...    0.0          1

[489 rows x 27 columns]

In [ ]:
train[train.userId<min_threshold5]

        Unnamed: 0  userId  ...        avgt2  age_group
621          51954   29683  ...     0.000000          2
690         498254   38250  ...  2249.938144          2
6343         17499   29490  ...   384.448087          2
7334        119637   29514  ...   384.775656          2
8640         36918   25332  ...     2.400000          3
...            ...     ...  ...          ...        ...
483424      522913   36305  ...  3537.918919          2
486991      145840   88979  ...   389.769231          2
487280      428367   38815  ...   157.071429          2
487736      105750   74545  ...     1.000000          2
488704      117705   36664  ...   210.116385          3

[489 rows x 27 columns]

In [ ]:
train4[train4.userId<min_threshold5]

        Unnamed: 0  userId  ...        avgt2  age_group
621          51954   29683  ...     0.000000          2
690         498254   38250  ...  2249.938144          2
6343         17499   29490  ...   384.448087          2
7334        119637   29514  ...   384.775656          2
8640         36918   25332  ...     2.400000          3
...            ...     ...  ...          ...        ...
483424      522913   36305  ...  3537.918919          2
486991      145840   88979  ...   389.769231          2
487280      428367   38815  ...   157.071429          2
487736      105750   74545  ...     1.000000          2
488704      117705   36664  ...   210.116385          3

[482 rows x 27 columns]

In [ ]:
train5=train4[(train4.userId>min_threshold5)]
train5.shape

(486445, 27)

In [ ]:
train5.describe()

          Unnamed: 0        userId  ...          avgt2      age_group
count  486445.000000  4.864450e+05  ...  486445.000000  486445.000000
mean   271785.095041  4.245096e+07  ...     142.561861       1.737808
std    156604.060006  1.814428e+07  ...     708.049014       1.086923
min         0.000000  9.148800e+04  ...       0.000000       1.000000
25%    136386.000000  3.541434e+07  ...       0.000000       1.000000
50%    271810.000000  4.341069e+07  ...       0.000000       1.000000
75%    407224.000000  5.373984e+07  ...     178.428571       2.000000
max    543196.000000  7.904203e+07  ...   17306.625000       4.000000

[8 rows x 27 columns]

In [ ]:
min_threshold6,max_threshold6=train['Unnamed: 0'].quantile([0.001,0.999])
print(min_threshold6,max_threshold6)

555.7520000000001 542657.1240000001

In [ ]:
train5[train5['Unnamed: 0']<min_threshold6]

        Unnamed: 0   userId  ...       avgt2  age_group
1244            77  1741176  ...    0.000000          1
2214           174  2155181  ...    0.000000          1
3995             1   985371  ...    0.000000          1
4677           362  6461972  ...    0.000000          1
5265           308  2834349  ...    0.000000          1
...            ...      ...  ...         ...        ...
485670         103  1827201  ...    0.000000          1
485799          25  1516912  ...    0.000000          1
486654         178  2174086  ...    0.000000          1
486790         180  2196790  ...  111.666667          1
487413         346  6216220  ...    0.000000          1

[489 rows x 27 columns]

In [ ]:
train6=train5[(train5['Unnamed: 0']>min_threshold6)]
train6.shape

(485956, 27)

In [ ]:
y = train['age_group']
X=train.drop(['age_group'], axis =1)

In [ ]:
sqrt_col=['avgComments',
 'creations',
 'content_views',
 'num_of_comments',
 'weekends_trails_watched_per_day',
 'weekdays_trails_watched_per_day','following_rate','avgComments','slot2_trails_watched_per_day','slot1_trails_watched_per_day', 'avgt2','slot4_trails_watched_per_day','slot3_trails_watched_per_day','followers_avg_age','following_avg_age','max_repetitive_punc','num_of_hashtags_per_action','avgCompletion','emoji_count_per_action','punctuations_per_action','number_of_words_per_action','avgTimeSpent']
log_col=['avgDuration']

In [ ]:
for col in sqrt_col:
    X[col] = np.sqrt(X[col])
    test[col]=np.sqrt(test[col])

for col in log_col:
    X[col]=(X[col]-X[col].min()+1).transform(np.log)
    test[col]=(test[col]-test[col].min()+1).transform(np.log)

In [ ]:
%matplotlib inline

# Start Python Imports
import math, time, random, datetime
from random import shuffle

# Data Manipulation
import numpy as np
import pandas as pd

# Visualization 
import matplotlib.pyplot as plt
import missingno
import seaborn as sns
plt.style.use('seaborn-whitegrid')

# Preprocessing
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, label_binarize, MinMaxScaler

# Machine learning
from sklearn.metrics import roc_auc_score

from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn import model_selection, tree, preprocessing, metrics, linear_model
from sklearn.svm import LinearSVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LinearRegression, LogisticRegression, SGDClassifier
from sklearn.tree import DecisionTreeClassifier

import xgboost
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.svm import SVC
from sklearn.svm import SVR

In [ ]:
#apply SelectKBest class to extract top 10 best features
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2,f_classif
bestfeatures = SelectKBest(score_func=chi2, k=26)
fit = bestfeatures.fit(X,y)

In [ ]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Specs','Score']  #naming the dataframe columns

In [ ]:
print(featureScores.nlargest(26,'Score'))

                              Specs         Score
1                            userId  3.401960e+11
0                        Unnamed: 0  1.777622e+09
25                            avgt2  2.209679e+06
7               max_repetitive_punc  8.416338e+04
11       number_of_words_per_action  6.641820e+04
6                 following_avg_age  6.074967e+04
5                 followers_avg_age  5.692391e+04
15                      avgComments  3.213721e+04
16                        creations  2.408705e+04
4                    following_rate  2.076759e+04
24     slot4_trails_watched_per_day  1.256428e+04
13                     avgTimeSpent  1.250221e+04
23     slot3_trails_watched_per_day  1.007599e+04
17                    content_views  9.858925e+03
19  weekends_trails_watched_per_day  7.211991e+03
22     slot2_trails_watched_per_day  6.721183e+03
21     slot1_trails_watched_per_day  6.685476e+03
20  weekdays_trails_watched_per_day  6.287462e+03
10          punctuations_per_action  5.543064e+03
18                  num_of_comments  3.643716e+03
14                      avgDuration  2.411647e+03
9            emoji_count_per_action  6.529209e+02
2                              tier  2.730216e+02
3                            gender  2.317470e+02
8        num_of_hashtags_per_action  2.124204e+02
12                    avgCompletion  2.060418e+02

In [ ]:
#apply SelectKBest class to extract top 10 best features
bestfeatures_f = SelectKBest(score_func=f_classif, k=39)
fit_f = bestfeatures.fit(X,y)

In [ ]:
dfscores_f = pd.DataFrame(fit_f.scores_)
dfcolumns_f = pd.DataFrame(X.columns)

#concat two dataframes for better visualization 
featureScores_f = pd.concat([dfcolumns_f,dfscores_f],axis=1)
featureScores_f.columns = ['Specs','Score']  #naming the dataframe columns

In [ ]:
print(featureScores_f.nlargest(39,'Score'))

                              Specs         Score
1                            userId  3.401960e+11
0                        Unnamed: 0  1.777622e+09
25                            avgt2  2.209679e+06
7               max_repetitive_punc  8.416338e+04
11       number_of_words_per_action  6.641820e+04
6                 following_avg_age  6.074967e+04
5                 followers_avg_age  5.692391e+04
15                      avgComments  3.213721e+04
16                        creations  2.408705e+04
4                    following_rate  2.076759e+04
24     slot4_trails_watched_per_day  1.256428e+04
13                     avgTimeSpent  1.250221e+04
23     slot3_trails_watched_per_day  1.007599e+04
17                    content_views  9.858925e+03
19  weekends_trails_watched_per_day  7.211991e+03
22     slot2_trails_watched_per_day  6.721183e+03
21     slot1_trails_watched_per_day  6.685476e+03
20  weekdays_trails_watched_per_day  6.287462e+03
10          punctuations_per_action  5.543064e+03
18                  num_of_comments  3.643716e+03
14                      avgDuration  2.411647e+03
9            emoji_count_per_action  6.529209e+02
2                              tier  2.730216e+02
3                            gender  2.317470e+02
8        num_of_hashtags_per_action  2.124204e+02
12                    avgCompletion  2.060418e+02

In [ ]:
X_train = X.drop(['avgCompletion','num_of_hashtags_per_action','gender'], axis=1)
X_test = test.drop(['avgCompletion','num_of_hashtags_per_action','gender'], axis=1)

In [ ]:
xbg_classifier = xgboost.XGBClassifier( random_state = 51)

booster=['gbtree']    

## Hyper Parameter Optimization

hyperparameter_grid = {
        'n_estimators' : [100, 500, 900, 1100, 1500],      # no. of decision trees used
        'min_child_weight': [1, 2, 3, 5, 7, 9],
        'gamma': [0.5, 1, 1.5, 2, 5],
        'subsample': [0.6, 0.8, 1.0],
        'colsample_bytree': [0.6, 0.8, 1.0],
        'max_depth': [5, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
        'learning_rate' : [0.005,0.01,0.03, 0.05, 0.15,0.3, 0.45, 0.55]
        }

# Set up the random search with 4-fold cross validation
folds = 5

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 51)

random_cv = RandomizedSearchCV(estimator=xbg_classifier,
            param_distributions=hyperparameter_grid,
            cv=skf.split(X,y),
            scoring = 'f1_micro',n_jobs = 4,
            verbose = 5, 
            return_train_score = True)

In [ ]:
random_cv.fit(X, y)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.

In [ ]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/7e/c1/c1c4707013f9e2f8a96899dd3a87f66c9167d6d776a6dc8fe7ec8678d446/catboost-0.24.3-cp36-none-manylinux1_x86_64.whl (66.3MB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 66.3MB 54kB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.1.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Installing collected packages: catboost
Successfully installed catboost-0.24.3

In [ ]:
import catboost
from catboost import CatBoostClassifier, Pool, CatBoostRegressor,cv

In [ ]:
indices_cat = []
for col in X.columns:
        indices_cat.append(X.columns.get_loc(col))

indices_cat.sort()
indices_cat

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [ ]:

model_cat = CatBoostClassifier(random_state = 51,eval_metric = 'f1_micro')

random_grid_cat = {'learning_rate': [0.05, 0.08, 0.1, 0.15, 0.2, 0.3],
        'depth': [4, 6,10,15,20,30,40,50,60,70],
        'l2_leaf_reg': [1, 3, 5, 7, 9]}

randomized_search_cat = model_cat.randomized_search(random_grid_cat, train_pool_cat, cv=5,plot=True)

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=11)
neigh.fit(X_train,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=11, p=2,
                     weights='uniform')

In [ ]:
y_test_pred=neigh.predict(X_test)
output = pd.DataFrame({'prediction': y_test_pred})
output.to_csv('submission92.csv',index=False)

In [ ]:
rfc=RandomForestClassifier(n_estimators=500,n_jobs=-1,random_state=7,min_samples_leaf=3)
rfc.fit(X,y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=500,
                       n_jobs=-1, oob_score=False, random_state=7, verbose=0,
                       warm_start=False)

In [ ]:
dt=DecisionTreeClassifier(random_state=7,min_samples_leaf=3)
dt.fit(X,y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=3, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=7, splitter='best')

In [ ]:
y_test_pred1= rfc.predict_proba(test)
y_test_pred2=neigh.predict_proba(test)
y_test_pred3=dt.predict_proba(test)
y_test_pred=(y_test_pred1*0+y_test_pred2*0+y_test_pred3*1)

y_test_pred=np.argmax(y_test_pred,axis=1)+1
y_test_pred

array([1, 1, 1, ..., 4, 1, 1])

In [ ]:
y_test_pred=dt.predict(test)

In [ ]:
y_test_pred.shape

(54320,)

In [ ]:
print(cross_val_score(rfc, X, y, cv=9,scoring='f1_micro').mean())
print(cross_val_score(neigh, X, y, cv=9,scoring='f1_micro').mean())

In [ ]:
output = pd.DataFrame({'prediction': y_test_pred})
output.to_csv('submission80.csv',index=False)